@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Mukta&family=Pacifico&family=Poppins&family=Rubik&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
}
body{
    background-color: #000;
    background-color: black;
}
.home{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 90vh;
}
.h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
    width: 50vw;
}
.h1 h2{
    font-size: 8vh;
    font-weight: 800;
    color:#edf2fb;

}
.h1 h2:nth-child(3){
    color: yellow;
    transition-property: all;
    transition-duration: 1s;
}
.h1 h2:nth-child(3):hover{
    color: yellow;
    font-size: 4rem;
    cursor: pointer;
}
.h1 p{
    color: whitesmoke;
    font-size: 1rem;
    font-weight: 600;
}
.h1 button{
    height: 5vh;
    width: 10vw;
    cursor: pointer;
    background-color:#2d6a4f;
    transition-property: all;
    transition-duration: 1s;
    border-radius: 20px;
    border: 5px solid #2d6a4f;
}
.h1 button:hover{
    width: 15vw;
    height: 7vh;
    border-radius: 20px;
}
.h11{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 45vw;
}
.h11 a{
    color: black;
    font-weight: 800;
}
.h2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
    width: 45vw;
}
.h2 img{
    height: 45vh;
    cursor: pointer;
    transition-property: all;
    transition-duration: 1s;
}
.h2 img:hover{
    height: 50vh;
}
.h22{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}
.h222{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 90vh;
    width: 45vw;

}
.h222 h2{
    color: #edf2fb;
}
.h22 img{
    height: 40vh;
}
.h222 p{
    color: #edf2fb;
}
.h222 p:nth-child(6){
    color:white;
    font-size: 1.2rem;
    font-weight: 700;

}
.h222 p:nth-child(5){
    color:white;
    font-size: 1.2rem;
    font-weight: 700;

}
.h222 button{
    height: 8vh;
    width: 15vw;
    cursor: pointer;
    background-color:#2d6a4f;
    transition-property: all;
    transition-duration: 1s;
    border-radius: 20px;
    border: 5px solid #2d6a4f;
    font-size: 1.5rem;
}
.h222 a{
    color: #000;
    font-weight: 700;
}
.c1{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contact{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.contact h2{
    color: #fff;
    cursor: pointer;
    transition-property: all;
    transition-duration: 1s;
    font-size: 2.5rem;
}
.contact p{
    color: #fff;
    cursor: pointer;
    transition-property: all;
    transition-duration: 1s;
    font-size: 1.5rem;
    font-weight: 600;
}
.contact a{
    color: whitesmoke;
}
.contact li{
    color: whitesmoke;
    font-size: 1.5rem;
}
.l1{
    width: 45vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.l1 img{
    height: 60vh;
    cursor: pointer;
    transition-property: all;
    transition-duration: 1s;
}
.l1 p{
    color: whitesmoke;
    font-weight: 600;
    font-size: 2rem;
}
.l1 li{
    font-size: 1.5rem;
    color: whitesmoke;
    font-weight: 600;
}
.market{
    height: 100vh;
    width: 100%;
}
.m1{
    margin-top: 5vh;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 30vw 30vw 30vw;
    grid-column-gap:3vw;
    grid-row-gap:10vh;
    height:100vh;
    width: 100%;
}
.m11{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 5px solid brown;
}
.login1{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.login{
    width: 45vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid #a2d2ff;
    border-radius: 20px;
    background-image: url('login.avif');
    background-size: cover;
}
.login label{
    color: whitesmoke;
    font-size: 1.59rem;
}
.login input{
    height: 4.5vh;
    width: 25vw;
    font-size: 1.2rem;
}
.login label:focus{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: indianred;
}
.login button{
    height: 6vh;
    width: 10vw;
    font-weight: 800;
    cursor: pointer;
    color: black;
    background-color: #2d6a4f;
    border: 5px solid #2d6a4f;
    border-radius: 20px;
    font-size: 1rem;
}
.login button:hover{
    background-color: #386641;
    border: 5px solid #386641;
}
.login a{
    border: 5px solid #7bdff2;
    color: black;
    font-weight: 700;
    padding: 1vh;
    border-radius: 20px;
    background-color: #7bdff2;
}
.l11{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40vw;
}
.name11 a{
    background-color: #0096c7;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    padding: 1vh;
    transition-property: all;
    transition-duration: 1s;
    border-radius: 20px;
}
.name11 a:hover{
    background-color: #0077b6;
}
.welcome{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
}
.price{
    background-color: #fff;
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    grid-row-gap:8vh;
    grid-column-gap:1vw;
    align-items: center;
    justify-content: space-evenly;

    border: 5px solid brown;
}
.news{
    display: grid;
    grid-template-columns: 32vw 32vw 32vw;
    grid-row-gap:5vh;
    align-items: center;
    justify-content: space-between;
    margin-top: 5vh;
}
.news p{
    color: whitesmoke;
}
.headline{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 10vh;
}
.headline h2{
    color: whitesmoke;
    font-size: 3rem;
}
.price1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 70vh;
    width: 32vw;
    border: 2px solid aqua;
    border-radius: 30px;
    padding: 2vh;
    transition-property: all;
    transition-duration: 2s;
    background-color: indianred;
    border: 5px solid indianred;
}
.price1 p{
    color: black;
    font-weight: 700;
}
.price1 a{
    color: black;
    font-weight: 800;
}
.price1 h2{
    color: #2b2d42;
    font-weight: 900;
    font-size: 1.5rem;
    text-decoration: underline;
}
.n1{
    background-color: #fff;
    display: grid;
    grid-template-columns: 25vw 25vw 25vw;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (min-width:320px) and (max-width:480px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
    }
    body{
        background-color: #000;
    }
    .home{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height:180vh;
    }
    .h1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 90vh;
        width:100%;
    }
    .h1 h2{
        font-size: 2.5rem;
        font-weight: 800;
        color:#fefae0;
    }
    .h1 h2:nth-child(3){
        color: yellow;
        font-size: 2rem;
    }
    .h1 button{
        height: 5vh;
        width: 30vw;
        cursor: pointer;
        background-color:#2d6a4f;
        transition-property: all;
        transition-duration: 1s;
        border-radius: 20px;
        border: 5px solid #2d6a4f;
    }
    .h11{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }
    .h11 a{
        color: black;
        font-weight: 800;
    }
    .h2{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 90vh;
        width: 100%;
    }
    .h2 img{
        height: 30vh;
        cursor: pointer;
        transition-property: all;
        transition-duration: 1s;
    }
    .h2 img:hover{
        height: 75vh;
        transform: rotate(360deg);
    }
    .h1 p{
        color: white;
        font-size: 1rem;
    }
    .h22{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 200vh;
    }
    .h222{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 90vh;
        width: 95vw;
    }
    .h222 h2{
        color:whitesmoke;
        font-size: 1.5rem;
    }
    .h22 img{
        height: 30vh;
    }
    .h222 p{
        color:whitesmoke;
        font-size: 0.8rem;
    }
    .h222 p:nth-child(6){
        color:white;
        font-size: 1rem;
        font-weight: 700;
    }
    .h222 p:nth-child(5){
        color:white;
        font-size: 1rem;
        font-weight: 700;
    
    }
    .h222 button{
        height: 8vh;
        width: 85vw;
        cursor: pointer;
        background-color:#2d6a4f;
        transition-property: all;
        transition-duration: 1s;
        border-radius: 20px;
        border: 5px solid #2d6a4f;
        font-size: 1.5rem;
    }
    .h222 a{
        color: #000;
    }
    .c1{
        height: 180vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .contact{
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .contact h2{
        color: yellow;
        cursor: pointer;
        transition-property: all;
        transition-duration: 1s;
        font-size: 2rem;
    }
    .contact p{
        color: black;
        cursor: pointer;
        transition-property: all;
        transition-duration: 1s;
        font-size: 1.5rem;
    }
    .market{
        height: 200vh;
        width: 100%;
    }
    .m1{
        display: grid;
        grid-template-columns: 30vw 30vw 30vw;
        grid-column-gap:3vw;
        grid-row-gap:10vh;
        height: 200vh;
        width: 100%;
    }
    .m11{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border: 5px solid brown;
    }
    .login1{
        height: 190vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .l1{
        width: 95%;
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .l1 img{
        height: 30vh;
        cursor: pointer;
        transition-property: all;
        transition-duration: 1s;
    }
    .login{
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 98vw;
    }
    .login label{
        color:whitesmoke;
        font-size: 1.25rem;
    }
    .login input{
        height: 5vh;
        width: 50vw;
        font-size: 1rem;
    }
    .login button{
        height: 5vh;
        width: 25vw;
        font-weight: 800;
        cursor: pointer;
        color: black;
        background-color: #2d6a4f;
        border: 5px solid #2d6a4f;
        border-radius: 20px;
        font-size: 1rem;
    }
    .login a{
        color: black;
    }
    .l11{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 96vw;
    }
    
}
@media screen and (min-width:481px) and (max-width:768px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
    }
    body{
        background-color: #000;
    }
    .home{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height:180vh;
    }
    .h1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 90vh;
        width:100%;
    }
    .h1 h2{
        font-size: 2.5rem;
        font-weight: 800;
        color:#fefae0;
    }
    .h1 h2:nth-child(3){
        color: yellow;
        font-size: 2rem;
    }
    .h1 button{
        height: 5vh;
        width: 30vw;
        cursor: pointer;
        background-color:#2d6a4f;
        transition-property: all;
        transition-duration: 1s;
        border-radius: 20px;
        border: 5px solid #2d6a4f;
    }
    .h11{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }
    .h11 a{
        color: black;
        font-weight: 800;
    }
    .h2{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 90vh;
        width: 100%;
    }
    .h2 img{
        height: 30vh;
        cursor: pointer;
        transition-property: all;
        transition-duration: 1s;
    }
    .h2 img:hover{
        height: 75vh;
        transform: rotate(360deg);
    }
    .h1 p{
        color: white;
        font-size: 1rem;
    }
    .h22{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 200vh;
    }
    .h222{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 90vh;
        width: 95vw;
    }
    .h222 h2{
        color:whitesmoke;
        font-size: 2.5rem;
    }
    .h22 img{
        height: 30vh;
    }
    .h222 p{
        color:whitesmoke;
        font-size: 1.3rem;
    }
    .h222 p:nth-child(6){
        color:white;
        font-size: 1.8rem;
        font-weight: 700;
    }
    .h222 p:nth-child(5){
        color:white;
        font-size: 1.5rem;
        font-weight: 700;
    
    }
    .h222 button{
        height: 8vh;
        width: 85vw;
        cursor: pointer;
        background-color:#2d6a4f;
        transition-property: all;
        transition-duration: 1s;
        border-radius: 20px;
        border: 5px solid #2d6a4f;
        font-size: 1.5rem;
    }
    .h222 a{
        color: #000;
        font-weight: 700;
    }
    .c1{
        height: 180vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .contact{
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .contact h2{
        color: yellow;
        cursor: pointer;
        transition-property: all;
        transition-duration: 1s;
        font-size: 2rem;
    }
    .contact p{
        color: black;
        cursor: pointer;
        transition-property: all;
        transition-duration: 1s;
        font-size: 1.5rem;
    }
    .market{
        height: 200vh;
        width: 100%;
    }
    .m1{
        display: grid;
        grid-template-columns: 30vw 30vw 30vw;
        grid-column-gap:3vw;
        grid-row-gap:10vh;
        height: 200vh;
        width: 100%;
    }
    .m11{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border: 5px solid brown;
    }
    .login1{
        height: 190vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .l1{
        width: 95%;
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .l1 img{
        height: 40vh;
        cursor: pointer;
        transition-property: all;
        transition-duration: 1s;
    }
    .login{
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 98vw;
    }
    .login label{
        color:whitesmoke;
        font-size: 1.25rem;
    }
    .login input{
        height: 5vh;
        width: 50vw;
        font-size: 1rem;
    }
    .login button{
        height: 5vh;
        width: 25vw;
        font-weight: 800;
        cursor: pointer;
        color: black;
        background-color: #2d6a4f;
        border: 5px solid #2d6a4f;
        border-radius: 20px;
        font-size: 1rem;
    }
    .login a{
        color: black;
    }
    .l11{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 96vw;
    }
    
}
@media screen and (min-width:769px) and (max-width:1024px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
    }
    body{
        background-color: #000;
    }
    .home{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height:180vh;
    }
    .h1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 90vh;
        width:100%;
    }
    .h1 h2{
        font-size: 2.5rem;
        font-weight: 800;
        color:#fefae0;
    }
    .h1 h2:nth-child(3){
        color: yellow;
        font-size: 2.5rem;
    }
    .h1 button{
        height: 5vh;
        width: 30vw;
        cursor: pointer;
        background-color:#2d6a4f;
        transition-property: all;
        transition-duration: 1s;
        border-radius: 20px;
        border: 5px solid #2d6a4f;
        font-size: 1rem;
        font-weight: 700;
    }
    .h11{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }
    .h11 a{
        color: black;
        font-weight: 800;
    }
    .h2{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 90vh;
        width: 100%;
    }
    .h2 img{
        height: 30vh;
        cursor: pointer;
        transition-property: all;
        transition-duration: 1s;
    }
    .h2 img:hover{
        height: 75vh;
        transform: rotate(360deg);
    }
    .h1 p{
        color: white;
        font-size: 1.5rem;
    }
    .h22{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 150vh;
    }
    .h222{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 90vh;
        width: 95vw;
    }
    .h222 h2{
        color:whitesmoke;
        font-size: 1.5rem;
    }
    .h22 img{
        height: 30vh;
    }
    .h222 p{
        color:whitesmoke;
        font-size: 1.2rem;
    }
    .h222 p:nth-child(6){
        color:white;
        font-size: 1rem;
        font-weight: 700;
    }
    .h222 p:nth-child(5){
        color:white;
        font-size: 1rem;
        font-weight: 700;
    
    }
    .h222 button{
        height: 8vh;
        width: 85vw;
        cursor: pointer;
        background-color:#2d6a4f;
        transition-property: all;
        transition-duration: 1s;
        border-radius: 20px;
        border: 5px solid #2d6a4f;
        font-size: 1.5rem;
    }
    .h222 a{
        color: #000;
    }
    .c1{
        height: 180vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .contact{
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .contact h2{
        color: yellow;
        cursor: pointer;
        transition-property: all;
        transition-duration: 1s;
        font-size: 2rem;
    }
    .contact p{
        color: black;
        cursor: pointer;
        transition-property: all;
        transition-duration: 1s;
        font-size: 1.5rem;
    }
    .market{
        height: 200vh;
        width: 100%;
    }
    .m1{
        display: grid;
        grid-template-columns: 30vw 30vw 30vw;
        grid-column-gap:3vw;
        grid-row-gap:10vh;
        height: 200vh;
        width: 100%;
    }
    .m11{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border: 5px solid brown;
    }
    .login1{
        height: 190vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .l1{
        width: 95%;
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .l1 img{
        height: 40vh;
        cursor: pointer;
        transition-property: all;
        transition-duration: 1s;
    }
    .login{
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 98vw;
    }
    .login label{
        color:whitesmoke;
        font-size: 1.25rem;
    }
    .login input{
        height: 5vh;
        width: 50vw;
        font-size: 1rem;
    }
    .login button{
        height: 5vh;
        width: 25vw;
        font-weight: 800;
        cursor: pointer;
        color: black;
        background-color: #2d6a4f;
        border: 5px solid #2d6a4f;
        border-radius: 20px;
        font-size: 1rem;
    }
    .login a{
        color: black;
    }
    .l11{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 96vw;
    }
    
}
@media screen and (min-width:1025px) and (max-width:1200px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
    }
    body{
        background-color: #000;
    }
    .home{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height:180vh;
    }
    .h1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 90vh;
        width:100%;
    }
    .h1 h2{
        font-size: 2.5rem;
        font-weight: 800;
        color:#fefae0;
    }
    .h1 h2:nth-child(3){
        color: yellow;
        font-size: 2rem;
    }
    .h1 button{
        height: 5vh;
        width: 30vw;
        cursor: pointer;
        background-color:#2d6a4f;
        transition-property: all;
        transition-duration: 1s;
        border-radius: 20px;
        border: 5px solid #2d6a4f;
    }
    .h11{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }
    .h11 a{
        color: black;
        font-weight: 800;
    }
    .h2{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 90vh;
        width: 100%;
    }
    .h2 img{
        height: 30vh;
        cursor: pointer;
        transition-property: all;
        transition-duration: 1s;
    }
    .h2 img:hover{
        height: 75vh;
        transform: rotate(360deg);
    }
    .h1 p{
        color: white;
        font-size: 1rem;
    }
    .h22{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 200vh;
    }
    .h222{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 90vh;
        width: 95vw;
    }
    .h222 h2{
        color:whitesmoke;
        font-size: 1.5rem;
    }
    .h22 img{
        height: 30vh;
    }
    .h222 p{
        color:whitesmoke;
        font-size: 0.8rem;
    }
    .h222 p:nth-child(6){
        color:white;
        font-size: 1rem;
        font-weight: 700;
    }
    .h222 p:nth-child(5){
        color:white;
        font-size: 1rem;
        font-weight: 700;
    
    }
    .h222 button{
        height: 8vh;
        width: 85vw;
        cursor: pointer;
        background-color:#2d6a4f;
        transition-property: all;
        transition-duration: 1s;
        border-radius: 20px;
        border: 5px solid #2d6a4f;
        font-size: 1.5rem;
    }
    .h222 a{
        color: #000;
    }
    .c1{
        height: 180vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .contact{
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .contact h2{
        color: yellow;
        cursor: pointer;
        transition-property: all;
        transition-duration: 1s;
        font-size: 2rem;
    }
    .contact p{
        color: black;
        cursor: pointer;
        transition-property: all;
        transition-duration: 1s;
        font-size: 1.5rem;
    }
    .market{
        height: 200vh;
        width: 100%;
    }
    .m1{
        display: grid;
        grid-template-columns: 30vw 30vw 30vw;
        grid-column-gap:3vw;
        grid-row-gap:10vh;
        height: 200vh;
        width: 100%;
    }
    .m11{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border: 5px solid brown;
    }
    .login1{
        height: 190vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .l1{
        width: 95%;
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .l1 img{
        height: 30vh;
        cursor: pointer;
        transition-property: all;
        transition-duration: 1s;
    }
    .login{
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 98vw;
    }
    .login label{
        color:whitesmoke;
        font-size: 1.25rem;
    }
    .login input{
        height: 5vh;
        width: 50vw;
        font-size: 1rem;
    }
    .login button{
        height: 5vh;
        width: 25vw;
        font-weight: 800;
        cursor: pointer;
        color: black;
        background-color: #2d6a4f;
        border: 5px solid #2d6a4f;
        border-radius: 20px;
        font-size: 1rem;
    }
    .login a{
        color: black;
    }
    .l11{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 96vw;
    }
}
@media screen and (min-width:1201px) and (max-width:1320px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
    }
    body{
        background-color: #000;
    }
    .home{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height:180vh;
    }
    .h1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 90vh;
        width:100%;
    }
    .h1 h2{
        font-size: 2.5rem;
        font-weight: 800;
        color:#fefae0;
    }
    .h1 h2:nth-child(3){
        color: yellow;
        font-size: 2.5rem;
    }
    .h1 button{
        height: 5vh;
        width: 30vw;
        cursor: pointer;
        background-color:#2d6a4f;
        transition-property: all;
        transition-duration: 1s;
        border-radius: 20px;
        border: 5px solid #2d6a4f;
        font-size: 1rem;
        font-weight: 700;
    }
    .h11{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }
    .h11 a{
        color: black;
        font-weight: 800;
    }
    .h2{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 90vh;
        width: 100%;
    }
    .h2 img{
        height: 30vh;
        cursor: pointer;
        transition-property: all;
        transition-duration: 1s;
    }
    .h2 img:hover{
        height: 75vh;
        transform: rotate(360deg);
    }
    .h1 p{
        color: white;
        font-size: 1.5rem;
    }
    .h22{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 150vh;
    }
    .h222{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 90vh;
        width: 95vw;
    }
    .h222 h2{
        color:whitesmoke;
        font-size: 1.5rem;
    }
    .h22 img{
        height: 30vh;
    }
    .h222 p{
        color:whitesmoke;
        font-size: 1.2rem;
    }
    .h222 p:nth-child(6){
        color:white;
        font-size: 1rem;
        font-weight: 700;
    }
    .h222 p:nth-child(5){
        color:white;
        font-size: 1rem;
        font-weight: 700;
    
    }
    .h222 button{
        height: 8vh;
        width: 85vw;
        cursor: pointer;
        background-color:#2d6a4f;
        transition-property: all;
        transition-duration: 1s;
        border-radius: 20px;
        border: 5px solid #2d6a4f;
        font-size: 1.5rem;
    }
    .h222 a{
        color: #000;
    }
    .c1{
        height: 180vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .contact{
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .contact h2{
        color: yellow;
        cursor: pointer;
        transition-property: all;
        transition-duration: 1s;
        font-size: 2rem;
    }
    .contact p{
        color: black;
        cursor: pointer;
        transition-property: all;
        transition-duration: 1s;
        font-size: 1.5rem;
    }
    .market{
        height: 200vh;
        width: 100%;
    }
    .m1{
        display: grid;
        grid-template-columns: 30vw 30vw 30vw;
        grid-column-gap:3vw;
        grid-row-gap:10vh;
        height: 200vh;
        width: 100%;
    }
    .m11{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border: 5px solid brown;
    }
    .login1{
        height: 190vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .l1{
        width: 95%;
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .l1 img{
        height: 40vh;
        cursor: pointer;
        transition-property: all;
        transition-duration: 1s;
    }
    .login{
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 98vw;
    }
    .login label{
        color:whitesmoke;
        font-size: 1.25rem;
    }
    .login input{
        height: 5vh;
        width: 50vw;
        font-size: 1rem;
    }
    .login button{
        height: 5vh;
        width: 25vw;
        font-weight: 800;
        cursor: pointer;
        color: black;
        background-color: #2d6a4f;
        border: 5px solid #2d6a4f;
        border-radius: 20px;
        font-size: 1rem;
    }
    .login a{
        color: black;
    }
    .l11{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 96vw;
    }
    
}